<ion-view>
  <ion-nav-title>{{categoryTitle}}</ion-nav-title>
  <ion-nav-buttons side="right">
      <button class="right button button-icon icon ion-plus" ng-click="insert()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
        <ion-item ng-repeat="list in lists" href="#/items/{{categoryId}}/{{list.id}}">
            {{list.name}}
            <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(list)"></ion-option-button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
